/*Importation de la police Raleway à partir de google font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');

/*Définition de la proprietée box-sizing*/
* {
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

/*On met en place dans les balises body la police importé Raleway*/
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

/*On définit la taille de la page par rapport à la maquette*/
#body_page {
    max-width: 80%;
    margin: auto;
}

/*On définit le block avec flex-box de la balise header*/
header {
    display: block;
}

/*Définition de la taille du logo pour l'adapter à la page*/
#logo {
    width: 80px;
    margin-top: 30px;
    margin-bottom: 15px;
}

/*Mise en page du menu de navigation qui fait partie de la balise nav*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav li {
    padding-right: 30px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 31px 10px 0 10px;
    font-size: 14px;
}

nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/*Titre et description + la barre de recherche avec le bouton rechercher*/
#recherche> h1 {
    margin-bottom: 0;
    font-size: 16px;

}

#recherche> p {
    margin-top: 8px;
    font-size: 12px;
}

#barre_recherche {
    display: flex;
}

#barre_recherche_localisation {
    display: flex;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    font-size: 15px;
    height: 40px;
    align-items: center;
    padding: 0px 15px 0px 15px;
}

#barre_recherche input {
    height: 40px;
    border:1px solid #F2F2F2;
    font-weight: bold;
    font-family: "Raleway";
    font-size: 14px;
    padding-left: 10px;
}

#barre_recherche button {
    height: 40px;
    width: 100px;
    color: white;
    background-color: #0065fc;
    font-weight:bold;
    border: 1px solid #0065fc;
    border-radius: 0px 11px 10px 0;
    font-size: 14px;
}

#recherche_filtres {
    display: flex;
    flex-wrap: wrap; 
    margin-top: 20px;  
    align-items: center;
}

#recherche_filtres a {
    margin-right: 20px;
}

#recherche_filtres> p {
    font-weight: bold;
    margin-right: 20px;
}

.recherche_filtres_filtre {
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-left: none;
    border-radius: 56px 50px 50px 60px;
    height: 42px;
    padding: 10px 10px 10px 0;
}

.recherche_filtres_filtre:hover {
    background-color: #deebff;
}

.recherche_filtres_filtre  p {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 10px;
    font-size: 14px;
}

.recherche_filtres_filtre i {
    color: #0065fc;
    background-color: #deebff;
    border-radius: 50px;
    padding: 12px 14px 12px 14px;
}

#recherche_infos {
    display: flex;
    margin: 10px 0 20px 0;
    align-items: center;
    font-size: 12px;
}

#recherche_infos_i {
    color: #0065fc;
    font-size: 10px;
    border: 2px solid #F2F2F2;
    padding: 4px 9px 4px 9px;
    border-radius: 50px;
    text-align: center;
    margin-right: 10px;
}

button .loupe {
    display: none;
}

/*La partie hebergement à Marseille*/
#hebergement {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}

#hebergement_marseille {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 68%;
    margin-right: 3%;
    padding: 40px 0 0 0;
}

#hebergement_marseille> h2 {
    font-size: 18px;
    margin: 0 0 0 5%;
}

#hebergement_marseille> h3 {
    font-size: 16px;
}

#hebergement_marseille a {
    text-decoration: none;
    color: black;
}

#hebergement_marseille> p {
    font-size: 14px;
    margin: 3% 0 4% 5%;
}

#hebergement_marseille_block {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hebergement_marseille_petit_block {
    background-color: white;
    width: 28%;
    margin: 3% 0 0 0;
    padding: 5px 5px;
    border-radius: 20px ;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    transition: all .4s ease-out;
}

.hebergement_marseille_petit_block p {
    margin: 5px;
    font-size: 12px;
}

.hebergement_marseille_petit_block h3 {
    margin: 5px;
    font-size: 14px;
}

.hebergement_marseille_petit_block img {
    height: 130px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.hebergement_marseille_petit_block:hover {
    transform: scale(1.08);
}

.hebergement_marseille_text {
    padding-bottom: 5px;
    padding-left: 10px;
}

.star {
    display: flex;
    color: #0065FC;
    font-size: 10px;
    margin: 0 0 2px 5px;
}

.grey {
    color: rgb(217,217,217);
}

/*Section les plus populaires*/
#populaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px 0 0 0;
}

#populaire_block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

#populaire_titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 84%;
}

#populaire_titre> i {
    font-size: 12px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

#populaire_titre> h2 {
    font-size: 18px;
    margin: 0 0 4% 2%;
}

.populaire_petit_block {
    display: flex;
    width: 85%;
    height: 145px;
    background-color: white;
    margin: 4% 0px;
    padding: 5px 5px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    transition: all .4s ease-out;
}

.populaire_petit_block:hover {
    transform: scale(1.08);
}

.populaire_images img {
    width: 120px;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.populaire_petit_block a {
    display: flex;
    text-decoration: none;
    color: black;
}

.populaire_text_block {
    padding-left: 20px;
}

.populaire_text_block> h3 {
    width: 100%;
    font-size: 14px;
    margin: 5% 0 5% 0;
    padding-right: 46px;
}

.populaire_text_block> p {
    font-size: 12px;
}

.star_populaire {
    display: flex;
    color: #0065FC;
    font-size: 10px;
    padding: 40px 0 0 0;
}

/*Section activités de la page*/
#activites {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}

#activites_marseille {
    width: 100%;
}

#activites_marseille h2 {
    font-size: 18px;
    margin: 4% 0 2% 0;
}

#activites_marseille h3 {
    font-size: 14px;
    margin: 4% 0 0 5%;
}

#activites_marseille a {
    text-decoration: none;
    color: black;
}

#activites_marseille_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activites_grand_block {
    width: 20%;
    height: 410px;
    border-radius: 20px;
    box-shadow:0px 3px 15px rgba(0, 0, 0, 0.1);
    transition: all .4s ease-out;
}

.activites_grand_block:hover {
    transform: scale(1.08);
}

.activites_grand_block img {
    height: 360px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activites_petit_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    align-items: center;
}

#activites_petit_block1 {
    width: 90%;
    height: 220px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow:0px 3px 15px rgba(0, 0, 0, 0.1);
    transition: all .4s ease-out;
}

#activites_petit_block1:hover {
    transform: scale(1.08);
}

#activites_petit_block1 img {
    height: 170px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

#activites_petit_block2 {
    width: 90%;
    height: 150px;
    border-radius: 20px;
    box-shadow:0px 3px 15px rgba(0, 0, 0, 0.1);
    transition: all .4s ease-out;
}

#activites_petit_block2:hover {
    transform: scale(1.08);
}

#activites_petit_block2 img {
    height: 100px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

#activites_petit_block3 {
    width: 90%;
    height: 175px;
    border-radius: 20px;
    box-shadow:0px 3px 15px rgba(0, 0, 0, 0.1);
    transition: all .4s ease-out;
}

#activites_petit_block3:hover {
    transform: scale(1.08);
}

#activites_petit_block3 img {
    height: 125px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

#activites_petit_block4 {
    width: 90%;
    height: 200px;
    border-radius: 20px;
    box-shadow:0px 3px 15px rgba(0, 0, 0, 0.1);
    transition: all .4s ease-out;
}

#activites_petit_block4:hover {
    transform: scale(1.08);
}

#activites_petit_block4 img {
    height: 150px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

/*Le bas de page*/
footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 1% 30% 1% 10%;
    margin-top: 3%;
    height: 200px;
}

footer h3 {
    font-size: 14px;
}

footer a {
    font-size: 12px;
    color: black;
}

footer a:hover {
    font-weight: bold;
}

/* La version tablette du site */

@media all and (min-width: 768px) and (max-width: 992px) {

    #recherche{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #recherche> h1{
        font-size: 28px;
    }

    #recherche> p{
        font-size: 21px;
    }

    #barre_recherche{
        margin-top: 10px;
    }

    #barre_recherche_localisation{
        font-size: 20px;
        height: 45px;
    }

    #barre_recherche input{
        height: 45px;
        border:1px solid #F2F2F2;
        font-size: 17px;
    }

    #barre_recherche button{
        height: 45px;
        width: 110px;
        font-size: 14px;
    }

    #recherche_infos{
        margin-top: 10px;
    }

    #recherche_filtres{
        width: 100%;
        justify-content: center;
    }

    .recherche_filtres_filtre{
        margin: 0 10px 10px 0;
        height: 45px;
    }
    .recherche_filtres_filtre i{
        padding: 14px;
    }

    #recherche_filtres>p{
        display: none;
    }


    /*La partie hébergement version tablette*/

    #hebergement {
        display: flex;
        flex-direction: column;

    }

    #hebergement_marseille {
        width: 100%;
    }

    #hebergement_marseille> h2 {
        margin: 0 0 10px 25px;
    }

    #hebergements_marseille_block {
        order: 2;
        width: 100%;
        margin-top: 50px;
    }

    .hebergement_marseille_petit_block {
        width: 45%;
    }
    .hebergement_marseille_petit_block:hover {
        width: 48%;
    }

    .hebergement_marseille_text {
        padding-left: 20px;
        font-size: 16px;
    }

    .star {
        font-size: 15px;
    }

    /* La partie les plus populaires version tablette */
    #populaire{
        order: 1;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
        background-color: #FFFFFF;
        align-items: flex-start;
    }

    #populaire_titre {
        justify-content: space-between;
        width: 66%;
    }

    #populaire_titre> i {
        margin-bottom: 20px;
    }

    .populaire_petit_block {
        width: 100%;
    }

    .populaire_text_block {
        font-size: 18px;
        padding-left: 25px;
    }
    .star_populaire {
        font-size: 16px;
    }



    /* Page activités version tablette */
    #activites>h2{
        padding-left: 20px;
    }

    .activites_grand_block{
        height: 475px;
        width: 45%;
        margin: 20px 0;
    }

    .activites_grand_block img{
        height: 420px;
    }
    .activites_grand_block h3{
        padding: 5px 0 0 20px;
        font-size: 20px;
    }

    .activites_petit_block{
        width: 45%;
        margin: 20px 0;
    }

    #activites_petit_block1, #activites_petit_block2, #activites_petit_block3, #activites_petit_block4 {
        height: 217px;
        width: 100%;
    }

    #activites_petit_block1 img, #activites_petit_block2 img, #activites_petit_block3 img, #activites_petit_block4 img {
        height: 161px;
    }

    .activites_petit_block h3{
        padding: 5px 0 0 20px;
        font-size: 20px;
    }

    footer { 
        justify-content: space-evenly;
        padding: 20px 0 0 0;
    }

}

/*Affichage pour mobile*/
@media only screen and (max-width: 768px) {
/* Configuration de la page et du logo */
#body_page {
    margin: 0;
    max-width: 100%;
}

#body_page h3 {
    font-size: 17px;
}

/* La navigation mobile */

#logo {
    margin: 30px 0 30px 0;
    width: 150px;
}

nav {
    flex-direction: column;
}

nav ul {
    width: 100%;
    padding: 0 0 0 0;
}

nav li {
    width: 100%;
    padding: 0 0 20px 0;
    text-align: center;
    border-bottom: 3px solid #F2F2F2;
}
 nav li:hover {
     border-bottom: 3px solid #0065FC;
 }

 nav a {
     font-size: 18px;
     text-align: center;
 }

 nav a:hover {
     border-top: none;
 }

/*  La partie recherche mobile du site */

#recherche> h1 {
    margin: 20px;
    font-size: 22px;
}

#recherche> p {
    margin: 0 0 30px 20px;
    font-size: 18px;
}

#barre_recherche_localisation {
    padding: 25px 15px 25px 15px;
    font-size: 20px;
}

#barre_recherche {
    justify-content: center;
}

#barre_recherche form {
    width: 240px;
}

#barre_recherche input {
    width: 265px;
    height: 50px;
    border-right: none;
    font-size: 18px;
    padding-left: 15px;
}

#barre_recherche button {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    font-size: 18px;
}

button .loupe {
    display: block;
}

button .rechercher {
    display: none;
}

/* Les différents filtres version mobile */
#recherche_filtres {
    justify-content: space-between;
}

#recherche_filtres> p {
    display: initial;
    width: 100%;
    padding-left: 20px;
}

#recherche_infos {
    margin: 10px 0 20px 20px;
    font-size: 16px;
}

#recherche_filtres a {
    margin-left: 15px;
    margin-right: 15px;
}

#recherche_infos_i {
    margin-bottom: 20px;
}

.recherche_filtres_filtre {
    margin-bottom: 10px;
    border: 2px solid #F2F2F2;
    border-left: none;
}

/* La partie hébergement du site version mobile */
#hebergement {
    display: flex;
    flex-direction: column;
}

#hebergement_marseille {
    background: none;
    order: 2;
    width: 100%;
    margin-top: 20px;
}

#hebergement_marseille> h2 {
    margin-bottom: 1%;
}

.hebergement_marseille_petit_block {
    width: 90%;
}

.hebergement_marseille_petit_block:hover {
    width: 90%;
}

.hebergement_marseille_text {
    font-size: 15px;
}

.hebergement_marseille_text .star {
    font-size: 10px;
}

#hebergement_marseille> p {
    margin-top: 30px;
}

/* La partie les plus populaires version mobile */
#populaire{
    order:1;
    width: 100%;
    margin-top: 10px;
    border-radius: 0px;
    padding-bottom: 40px;
}

/* Correction d'un bug de mise en page ou l'image était rogné par la gauche du texte sur le bloc du milieu */
.populaire_text_block> h3 {
    font-size: 17px;
    padding-right: 15px;
    flex-wrap: wrap;
    width: 200px;
}

.populaire_petit_block {
    width: 100%;
    margin: 10px 0 0 0;
}

#populaire_titre {
    width: 90%;
}

.star_populaire {
    padding: 35px 0 0 0;
}

/* La section activité version mobile */
#activites h2 {
    margin: 10px 0 20px 20px;
}

#activites_marseille_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#activites_marseille_block img {
    height: 150px;
    width: 100%;
}

#activites_marseille_block h3 {
    font-size: 15px;
}

.activites_grand_block {
    width: 90%;
    margin: 0 0 25px 0;
    height: 200px;
}

.activites_petit_block {
    width: 100%;
    margin: 0;
    align-items: center;
}

#activites_petit_block1, #activites_petit_block2, #activites_petit_block3, #activites_petit_block4 {
    height: 200px;
    width: 90%;
    margin-bottom: 25px ;
}

#activites_petit_block1 img, #activites_petit_block2 img, #activites_petit_block3 img, #activites_petit_block4 img {
    height: 150px;
}

/* Le bas de page version mobile */
footer {
    flex-direction: column;
    padding: 30px 0 20px 30px;
    height: 100%;
}

footer p {
    margin: 0 0 10px 0;
}

#footer_propos{
    width: 100%;
}

#footer_hébergements{
    width: 100%;
}
#footer_assistance{
    width: 100%;
}

}