/*Importation de la police Raleway à partir de google font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');

/*Définition de la proprietée box-sizing*/
* {
    box-sizing: border-box;
}

/*On met en place dans les balises body la police importé Raleway*/
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

/*On définit la taille de la page par rapport à la maquette*/
#body_page {
    max-width: 90%;
    margin: auto;
}

/*On définit le block avec flex-box de la balise header*/
header {
    display: block;
}

/*Définition de la taille du logo pour l'adapter à la page*/
#logo {
width: 80px;
margin-top: 30px;
margin-bottom: 15px;
}

/*Mise en page du menu de navigation qui fait partie de la balise nav*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav li {
    padding-right: 30px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 31px 10px 0 10px;
    font-size: 14px;
}

nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/*Titre et description + la barre de recherche avec le bouton rechercher*/
#recherche> h1 {
    margin-bottom: 0;
    font-size: 16px;

}

#recherche> p {
    margin-top: 8px;
    font-size: 12px;
}

#barre_recherche {
    display: flex;
}

#barre_recherche_localisation {
    display: flex;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    font-size: 15px;
    height: 40px;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

#barre_recherche input {
    height: 40px;
    border:1px solid #F2F2F2;
    font-weight: bold;
    font-family: "Raleway";
    font-size: 14px;
    padding-left: 10px;
}

#barre_recherche button {
    height: 40px;
    width: 100px;
    color: white;
    background-color: #0065fc;
    font-weight:bold;
    border: 1px solid #0065fc;
    border-radius: 0px 11px 10px 0;
    font-size: 14px;
}

#recherche_filtres {
    display: flex;
    flex-wrap: wrap; 
    margin-top: 20px;  
    align-items: center;
}

#recherche_filtres> p {
    font-weight: bold;
    margin-right: 1%;
}

.recherche_filtres_filtre {
    display: flex;
    align-items: center;
    margin: 0 1%;
    border: 2px solid #F2F2F2;
    border-left: none;
    border-radius: 55px 50px 50px 60px;
    height: 42px;
    padding: 10px 10px 10px 0;
}

.recherche_filtres_filtre:hover {
    background-color: #deebff;
}

.recherche_filtres_filtre  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 10px;
}

.recherche_filtres_filtre i {
    color: #0065fc;
    background-color: #deebff;
    border-radius: 50px;
    padding: 12px 14px 13px 14px;
}

#recherche_infos {
    display: flex;
    align-items: center;
}

#recherche_infos_i {
    color: #0065fc;
    font-size: 10px;
    border: 2px solid #F2F2F2;
    padding: 4px 9px 4px 9px;
    border-radius: 50px;
    text-align: center;
    margin-right: 10px;
}

/*La partie hebergement à Marseille*/
#hebergement_marseille {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 50%;
    padding: 20px;
}

#hebergement_marseille> h2 {
    font-size: 18px;
    margin-bottom: 0;
    margin: 20px 0 0 20px;
}

#hebergement_marseille> a {
    text-decoration: none;
    display: flex;
    color: black;
    margin: 40px 0 10px 20px;
}

#hebergement_marseille_block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#hebergement_marseille_block> a {
    text-decoration: none;
    color: black;
}

.hebergement_marseille_petit_block {
    background-color: #FFFFFF;
    border: 5px solid #FFFFFF;
    margin-top: 20px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
}

.hebergement_marseille_petit_block> p {
    margin: 5px;
    font-size: 12px;
}

.hebergement_marseille_petit_block> h3 {
    margin: 5px;
    font-size: 14px;
}

.star {
    color: #0065FC;
    font-size: 10px;
    margin: 0 0 2px 5px;
}

.grey {
    color: rgb(217,217,217);
}

.hebergement_marseille_image {
    height: 120px;
    overflow: hidden;
    position: relative;
    border-radius: 20px 20px 0 0;
}

.hebergement_marseille_image> img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Affichage pour mobile*/
@media only screen and (max-width: 768px) {



}